$blue: #425878;
$yellow: #EDC351;
$red: #E54545;
$white: #EDF3FA;
$black: #2B2B2B;

@font-face {
	font-family: 'Pokemon Solid'; 
	src: url('../fonts/Pokemon-Solid.ttf');
}

body {
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	width: 100%;
	background-color: $black;
	color: $black;
	cursor: default;
}

.nav {
	margin-top: 15px;

	.header {
		a {
			text-decoration: none;

			&:link,
			&:hover,
			&:active,
			&:visited {
				text-decoration: none;
			}

			h1 {
				font-family: 'Pokemon Solid', 'Open Sans', sans-serif;
				margin: 0;
				color: $yellow;
				text-shadow: -4px 0 $blue, 0 4px $blue, 4px 0 $blue, 0 -4px $blue;
				font-size: 90px;
				text-align: center;
			}
		}
	}

	.link {
		display: flex;
		justify-content: center;

		a {
			text-decoration: none;
			margin: 0 15px 10px 15px;
			color: $white;

			&:link,
			&:hover,
			&:active,
			&:visited {
				text-decoration: none;
			}
		}
	}
}

.button {
	text-align: center;

	button {
		padding: 6px 18px 9px 18px;
		margin-bottom: 10px;
		border: 2px solid $white;
		border-radius: 3px;
		background-color: $white;
		outline: 0;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto 20px auto;

	.card {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 330px;
		width: 260px;
		margin: 5px;
		border: 8px solid $yellow;
		border-radius: 10px;
		background-color: $white;

		.name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			width: 100%;

			h2 {
				margin-left: 15px;
			}

			p {
				margin-right: 20px;
				color: $red;
			}
		}

		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 150px;
			width: 90%;
			background-color: $red;
			border-radius: 5px;
		}

		.stats {
			display: flex;
			justify-content: center;
			height: 20px;
			width: 80%;
			padding: 5px 0;
			margin: 2px 0 15px 0;
			background-color: $yellow;
			border-radius: 3px;
			font-size: 14px;
		}

		.about {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 70px;
			width: 100%;

			.id {
				padding-left: 15px;
				text-align: center;
				
				p {
					margin: 5px;
				}			
			}

			.abilities {
				padding-right: 10px;

				p {
					margin: 0;
				}
			}
		}
	}
}

.pokedex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;

	a {
		text-decoration: none;
		color: $black;

		&:link,
		&:hover,
		&:active,
		&:visited {
			text-decoration: none;
		}

		.pokemon {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;
			width: 220px;
			margin: 5px;
			background-color: $white;
			border: 5px solid $yellow;
			border-radius: 3px;

			&:hover {
				animation: pulse 1s infinite;
			}
		}
	}
}

.me {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	color: $white;

	.pic {
		max-width: 500px;
		margin: 0 auto;

		img {
			height: auto;
			width: 100%;
			margin-top: 20px;
			text-align: center;
			border-radius: 5px;
		}
	}

	h2 {
		margin: 10px 0 10px 0;
	}

	p {
		margin: 10px 0 10px 0;
	}

	.devicon {
		margin: 25px 0;

		i {
			margin: 0 5px 0 5px;
			font-size: 40px;
		}

		.devicon-react-original:hover {
			color: #61DAFB;
		}

		.devicon-nodejs-plain:hover {
  		color: #83CD29;
		}

		.devicon-html5-plain:hover {
			color: #E54D26;
		}

		.devicon-sass-original:hover {
			color: #CC6699;
		}

		.devicon-css3-plain:hover {
			color: #3D8FC6;
		}

		.devicon-javascript-plain:hover {
			color: #F0DB4F;
		}

		.devicon-jquery-plain:hover {
			color: #0769AD;
		}

		.devicon-gulp-plain:hover {
			color: #EB4A4B;
		}

		.devicon-github-plain:hover {
			color: #000000;
		}
	}
}
