@font-face {
	font-family: 'Pokemon Hollow'; 
	src: url('/fonts/Pokemon-Hollow.ttf');
}

@font-face {
	font-family: 'Pokemon Solid'; 
	src: url('/fonts/Pokemon-Solid.ttf');
}

body {
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
	width: 100%;
	background-color: #2B2B2B;
	color: #2B2B2B;
	cursor: default;
}

.nav {
	margin-top: 15px;

	h1 {
		font-family: 'Pokemon Hollow', 'Open Sans', sans-serif;
		margin: 0;
		color: #EDF3FA;
		font-size: 90px;
		text-align: center;
	}

	.link {
		display: flex;
		justify-content: center;

		a {
			text-decoration: none;
			margin: 0 15px 10px 15px;
			color: #EDF3FA;

			&:link,
			&:hover,
			&:active,
			&:visited {
				text-decoration: none;
			}
		}
	}
}

.button {
	text-align: center;

	button {
		padding: 6px 18px 9px 18px;
		margin-bottom: 10px;
		border: 2px solid #EDF3FA;
		border-radius: 3px;
		background-color: #EDF3FA;
		outline: 0;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 20px;

	.card {
		display: flex;
		align-items: center;
		flex-direction: column;
		height: 330px;
		width: 260px;
		margin: 5px;
		border: 8px solid #EDC351;
		border-radius: 10px;
		background-color: #EDF3FA;

		.name {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			width: 100%;

			h2 {
				margin-left: 15px;
			}

			p {
				margin-right: 20px;
				color: #E54545;
			}
		}

		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 150px;
			width: 90%;
			background-color: #E54545;
			border-radius: 5px;
		}

		.stats {
			display: flex;
			justify-content: center;
			height: 20px;
			width: 80%;
			padding: 5px 0;
			margin: 2px 0 15px 0;
			background-color: #EDC351;
			border-radius: 3px;
			font-size: 14px;
		}

		.about {
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 70px;
			width: 100%;

			.id {
				padding-left: 15px;
				text-align: center;
				
				p {
					margin: 5px;
				}			
			}

			.abilities {
				padding-right: 10px;

				p {
					margin: 0;
				}
			}
		}
	}
}

.pokedex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;

	.pokemon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100px;
		width: 220px;
		margin: 5px;
		border: 3px solid #EDC351;
		background-color: #EDF3FA;

		h2 {
			font-family: 'Pokemon Hollow', 'Open Sans', sans-serif;
			text-align: center;
		}

		&:hover {
			h2 {
				font-family: 'Pokemon Solid', 'Open Sans', sans-serif;
			}
		}
	}
}

.me {
	max-width: 700px;
	margin: 0 auto;

	.pic {
		max-width: 500px;
		margin: 0 auto;

		img {
			height: auto;
			width: 100%;
			margin-top: 20px;
			text-align: center;
			border-radius: 5px;
		}
	}

	h2 {
		margin: 10px 0 0 0;
		text-align: center;
		color: #EDF3FA;
	}

	p {
		text-align: center;
		color: #EDF3FA;
	}
}
